<h1>Who is this Bruce fellow?</h1>
<p>Bruce is a Zelig-like figure of history's greatest parties. He was there
  when Dionysus spilled his first golden goblet of wine. He was there when
  Giacomo Casanova first realized he had a gift. He was the one who told
  Mae West that 'too much of a good thing is wonderful.' The regulars
  doubted whether they were at the right party any given night when they
  didn't see him at The Loft, Paradise Garage, Music Box, The Hacienda,
  Trash, Berghain, A Club Called Rhonda and hundreds of other dancefloors where
  his name was spoken with a combination of familiarity and reverence. Bruce
  has no idea that he's an android.</p>
