// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#textbruce{
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 1000%;
  color: #FF69B4;
  width: 65%;
}

#signup{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  margin: 0 auto;
  width: 15%
}

h3{
  font-weight: 900;
  font-style: italic;
}
